*.swp
*.swo
site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.local
build/
*.fsdb
*.log
*.out
*.jou
*.o
uart
work-ver/*
corev_apu/fpga/work-fpga
corev_apu/fpga/reports/
corev_apu/fpga/scripts/add_sources.tcl
corev_apu/fpga/ariane.xpr
corev_apu/fpga/ariane.cache/
corev_apu/fpga/ariane.hw/
corev_apu/fpga/.Xil/
corev_apu/fpga/mode*
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
xrun_results/
/core/include/hwconfig_config_pkg.sv
__pycache__
.bender/
Bender.lock
/tools/
/util/toolchain-builder/src/
/util/toolchain-builder/build/
# Both following lines are needed to list contents of ISA manual build dir.
!/vendor/riscv/riscv-isa-manual/build/
!/vendor/riscv/riscv-isa-manual/build/*
# Our CVA6-specific files
cva6_files
# To big to be tracked
bht_alias_test.config1.json
bht_alias_test_clean.config1.txt
bht_alias_test.config4.json
bht_alias_test_clean.config4.txt
bht_alias_test.config5.json
bht_alias_test_clean.config5.txt
bht_alias_test.config6.json
bht_alias_test_clean.config6.txt
btb_pressure_test.config1.json
btb_pressure_test_clean.config1.txt
commit_ilp_test.config1.json
commit_ilp_test_clean.config1.txt
data_cache_stress_test.config1.json
data_cache_stress_test_clean.config1.txt
data_cache_stress_test.config3.json
data_cache_stress_test_clean.config3.txt
dcache_size_test.config1.json
dcache_size_test_clean.config1.txt
dcache_size_test.config2.json
dcache_size_test_clean.config2.txt
icache_footprint_test.config1.json
icache_footprint_test_clean.config1.txt
icache_footprint_test.config13.json
icache_footprint_test_clean.config13.txt
icache_footprint_test.config14.json
icache_footprint_test_clean.config14.txt
store_miss_test.config1.json
store_miss_test_clean.config1.txt